@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard Variable", "-apple-system", "BlinkMacSystemFont",
    "Apple SD Gothic Neo", "sans-serif";
  word-break: keep-all;
  scrollbar-gutter: "auto";
}

html,
body {
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  background: #121212;
  font-family: Pretendard;
  min-height: 100vh;
}
