@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: none;
}

* {
  font-family: "Pretendard Variable", "-apple-system", "BlinkMacSystemFont",
    "Apple SD Gothic Neo", "sans-serif";
  word-break: keep-all;
  scrollbar-gutter: "auto";
}

@font-face {
  font-family: "CookieRun";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunRegular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunRegular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunRegular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunRegular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunRegular.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "CookieRun";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "CookieRun";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBlack.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBlack.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBlack.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBlack.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/cookierun/CookieRunBlack.ttf")
      format("truetype");
  font-display: swap;
}

html,
body {
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  background: #121212;
  font-family: Pretendard;
  min-height: 100vh;
}
